#container-resultado{
    background-color: #1e1e32;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,h2,h3{
    color: white;
    margin-bottom: 5px;
}
#Magresa{
    color: yellow;
}
#Normal{
    color: green;
}
#Sobrepeso{
    color: yellow;
}
#Obesidade{
    color: red;
}
#ObesidaeGrave{
    color: purple;
}
table{
    margin-top: 10px;
}
td{
    text-align: center;
    color: white;
}
th{
    color: white;
}